* {
  box-sizing: border-box;
}

#App {
  text-align: center;
}

#VocabTable {
  display: grid;
  min-width: 100%;
  border-collapse: collapse;
  padding: 20px;
  grid-template-columns: repeat(10, auto);
}

/* account for header havinf fewer elements then */

#VocabHeader .last {
  grid-column-end: span 4;
}

/* remove row containers from grid */

#VocabHeader, .VocabEntryWrapper, #VocabTable .VocabEntry {
  display: contents;
}

#VocabHeader div {
  text-align: start;
  position: sticky;
  top: 0;
  background-color: white;
}