* {
  box-sizing: border-box;
}

#App{
  text-align: center;
}

#VocabTable {
  display: grid;
  min-width: 100%;
  border-collapse: collapse;
  padding: 20px;
  grid-template-columns: repeat(7, auto);
}

/* remove grid */
#VocabHeader, .VocabEntry{
  display: contents;
}

#VocabHeader div {
  text-align: start;
  position: sticky;
  top: 0;
  background-color: white;
}

/* all grid cells */
#VocabHeader > *, #VocabEntry > *{
  padding-top: 10px;
}