

#VocabTable {
  display: grid;
  min-width: 100%;
  border-collapse: collapse;
  margin: 20px;
  grid-template-columns: repeat(7, auto);
}

/* remove thead, tbody, and tr from the css grid */
#VocabTable thead, #VocabTable tbody, #VocabTable tr{
  display: contents;
}

#VocabTable th {
  text-align: start;
  position: sticky;
  top: 0;
  background-color: white;
}

/* all grid cells */
#VocabTable th, #VocabTable td {
  padding-top: 10px;
}